body {
    font-family: Arial, sans-serif;
    text-align: center;
    /* background-color: #222; */
    background-image: url("/assets/wallpaper.jpeg");
    color: white;
}

#combatModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    z-index: 1000;
    width: 50%;
    /*MAX PARA LIMITAR EL TAMAÑO*/
    max-width: 500px; 
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.battlefield {
    display: flex;
     /* LOS PERSONAJES SE VAN A ENCONTRAR EN EL CENTRO DE LA PANTALLA*/
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 20px;
    background-image: url(/assets/battleField.png);
    background-size: cover;
}

#hero-container, #enemy-container {
    width: 100px; 
    text-align: center;
}

/* TAMAÑO DE LOS PERSONAJES */
.character {
    width: 70px;
    height: auto;
}

/* CUADRICULA DONDE SE COLOCAN LAS FICHAS */
#grid {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-gap: 5px;
    justify-content: center;
    margin-top: 20px;
}

.potion-image {
    width: 40px;  
    height: 40px;
    cursor: pointer; 
}

.weapon-image {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.stairs-image {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* FICHA */
.tile {
    width: 60px;
    height: 60px;
    /* background-color: #444; */
    background-image: url(/assets/tile.png);
    background-size: contain;
    border: 1px solid #666;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
    cursor: pointer;
}

/* FICHA DESCUBIERTA */
.tile.revealed {
    background-color: #888;
}